.doctor-add-container {
    position: relative;

    .doctor-add-to-add {
        width           : 60px;
        height          : 60px;
        border-radius   : 50%;
        background-color: yellow;
        position        : sticky;
        bottom          : 5%;
        left            : 100%;
        cursor          : pointer;

        &:hover {
            background-color: gold;
            color           : white;
        }
    }

    .doctor-add-markdown {
        border-radius: 5px;
        border       : 1px solid #dee2e6;
    }
}