.doctor-info-container {
    position: relative;

    img {
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }

    .doctor-info-to-change {
        width           : 60px;
        height          : 60px;
        border-radius   : 50%;
        background-color: yellow;
        position        : sticky;
        bottom          : 5%;
        left            : 100%;
        cursor          : pointer;

        &:hover {
            background-color: gold;
            color           : white;
        }
    }

}

.popover {
    .popover-body {
        button {
            &:hover {
                background-color: whitesmoke;
            }
        }
    }
}