.modal-body {
    img {
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }

    .form-floating {

        .form-control {
            border-top   : none;
            border-left  : none;
            border-right : none;
            border-radius: 0;
            padding-left : 0;

            &:not(:placeholder-shown) {
                padding-bottom: 0;
            }

            &:focus {
                box-shadow: none;
            }
        }

        label {
            padding-left: 0;

            &:not(:placeholder-shown) {
                transform: translate();
            }
        }
    }

    .form-label {
        color    : gray;
        transform: scale(.85) translateY(0.5rem) translateX(-0.30rem);
    }

    .form-check {

        .form-check-input,
        label {
            cursor: pointer;
        }
    }

    .react-datepicker-wrapper {
        .react-datepicker__input-container {
            input {
                background   : none;
                border       : none;
                border-bottom: 1px solid #dee2e6;

                &:focus {
                    outline      : none;
                    border-bottom: 1px solid #3eaef4;
                }
            }
        }
    }
}

.popover {
    .popover-body {
        button {
            &:hover {
                background-color: whitesmoke;
            }
        }
    }
}