body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import "../node_modules/bootstrap/scss/functions";

@import "../node_modules/bootstrap/scss/variables";
$transition-collapse: height 1s ease;

@import "../node_modules/bootstrap/scss/mixins";

@import "../node_modules/bootstrap/scss/forms/floating-labels";


.form-floating {
  padding-inline: 0;

  .form-control {
    background    : none;
    border-top    : none;
    border-left   : none;
    border-right  : none;
    border-bottom : 1px solid silver;
    border-radius : 0;
    padding-left  : 0.1rem !important;
    padding-bottom: 0rem !important;


    &:focus {
      background   : none;
      border-bottom: 1px solid black;
      box-shadow   : none;
    }
  }

  label {
    padding    : 0;
    scale      : 1.3;
    margin-top : -0.75rem;
    margin-left: -1rem;

    &::after {
      display: none;
    }

    &:not(:placeholder-shown) {
      transform : translateY(0.75rem);
      transition: all 500ms ease-in-out;
      color     : black !important;
    }
  }
}