.slide-container {
    min-height: 40vh;
    padding   : 0px 5%;

    .slide-title {
        text-align: left;
        margin-top: 5%;
        position  : relative;

        button {
            position: absolute;
            right   : 0;
            cursor  : pointer;
        }
    }

    .slide-content {
        button {
            background-color: grey;
        }

        >div {
            margin   : 1% auto;
            font-size: 70%;
            cursor   : pointer;

            img {
                width : 18rem;
                height: 10rem;
            }
        }

        .slide-nodata,
        .slide-loading {
            display        : flex;
            align-items    : center;
            justify-content: center;
            font-size      : 70%;
            margin-top     : 3%;
        }

        .slide-loading {
            color: #1976d2;

            >div {
                margin-right: 1%;
            }
        }
    }
}