.slide-container {
    min-height: 40vh;

    .slide-title {
        text-align: left;
        margin-top: 5%;
        position  : relative;

        button {
            position: absolute;
            right   : 15px;
            cursor  : pointer;
        }
    }

    .slide-content {
        button {
            background-color: grey;
        }

        >div {
            margin   : 1% auto;
            font-size: 70%;

            img {
                width : 18rem;
                height: 10rem;
            }
        }
    }
}