.slide-container {
    min-height: 40vh;
    padding   : 0px 5%;

    .slide-title {
        text-align: left;
        margin-top: 5%;
        position  : relative;

        button {
            position: absolute;
            right   : 0;
            cursor  : pointer;
        }
    }

    .slide-content {
        button {
            background-color: grey;
        }

        >div {
            margin   : 1% auto;
            font-size: 70%;
            cursor   : pointer;

            img {
                width : 18rem;
                height: 10rem;
            }
        }
    }
}