.specialties-container {
    margin-top: 5%;
    padding   : 2% 5%;

    .specialties-title {
        position: relative;

        button {
            position: absolute;
            left    : 0;
        }
    }
}