.doctor-header-container {

    .doctor-header-home,
    .doctor-header-appointment {

        .active {
            >div {
                &:hover {
                    background: none;
                }
            }

            border-bottom: 4px solid gray;
        }

        a {
            >div {
                &:hover {
                    background-color: whitesmoke;
                }
            }
        }
    }
}