.specialty-container {
    //     border             : 0px;
    //     min-height         : 30vh;
    //     border-radius      : 20px;
    //     background-color   : #c7ceea;
    //     margin-top         : 2%;
    //     padding            : 2% 5%;
    cursor                    : pointer;
    //     // color           : white;

    //     .specialty-title {
    //         text-align : left;
    //         font-size  : 70%;
    //         font-weight: 500;
    //     }

    .specialty-content {
        //         display: flex;

        //         .specialty-image {
        //             display      : flex;
        //             margin-top   : 1%;
        //             width        : 25%;
        //             margin-bottom: 1%;
        //             align-items  : center;

        //             img {
        //                 border: 1px solid grey;
        //             }
        //         }

        .specialty-description {
            //             width      : 70%;
            //             margin-left: 5%;
            //             display    : flex;
            //             font-size  : 70%;
            //             text-align : left;
            //             align-items: center;

            .specialty-markdown {
                //                 width    : 100%;
                //                 word-wrap: break-word;

                ul {
                    display              : grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-column-gap      : 10%
                }
            }
        }
    }
}