.booking-container {

    .time,
    .slot {
        transform-origin: top;
        transition      : all 200ms linear;
    }

    .scroll {
        transform: rotateX(90deg);
    }

    .form-floating {
        margin-top: -0.5rem;
        font-size : small;

        .form-control {
            padding-block: 0;
        }

        label {
            margin-top: -0.2rem;
        }
    }
}