.detail-container {

    .main-element {
        position  : relative;
        transition: transform 200ms linear;

        .detail-to-order {
            width           : 60px;
            height          : 60px;
            display         : flex;
            align-items     : center;
            justify-content : center;
            background-color: yellow;
            position        : sticky;
            bottom          : 10%;
            left            : 100%;
            cursor          : pointer;

            &:hover {
                background-color: gold;
                color           : white;
            }
        }
    }

    .detail-content,
    .detail-nodata,
    .detail-loading {
        transition: transform 200ms linear;
    }

    .detail-content {
        min-height: 30rem;
    }

    .flip {
        transform: rotateY(90deg);
    }

}