.doctors-container {
    .form-control {
        background   : none;
        border-radius: 0;
        border-top   : none;
        border-left  : none;
        border-right : none;
        border-bottom: 1px solid black;
        padding      : 0;

        &:focus {
            background   : none;
            border-bottom: 1px solid#4fb5e6;
            box-shadow   : none;
        }
    }
}