.home-container {
    .element {
        opacity   : 0;
        transition: opacity 0.5s ease-in-out;
    }

    .element.show {
        opacity: 1;
    }

    .element {
        margin: 0;
    }

    #element2 {
        background-color: #4fb5e6;
    }

    #element4 {
        background-color: #f2f2f2;
    }
}