.notfound-container {
    // background-color: aqua;
    color: gray;

    // padding: auto;
    img {
        margin-top: 5%;
    }

    b {
        font-size: 90%
    }

    p {
        margin-bottom: 0px;
        font-size    : 70%;
    }

    .notfound-button {
        margin-top: 2%;
    }

}