.doctor-container {
    border          : 0px;
    min-height      : 30vh;
    border-radius   : 20px;
    background-color: #c7ceea;
    margin-top      : 2%;
    padding         : 2% 5%;
    cursor          : pointer;

    .doctor-title {
        text-align : left;
        font-size  : 70%;
        font-weight: 500;
    }

    .doctor-content {
        display: flex;

        .doctor-image {
            display      : flex;
            margin-top   : 1%;
            width        : 25%;
            margin-bottom: 1%;
            align-items  : center;

            img {
                border: 1px solid grey;
            }
        }

        .doctor-description {
            width      : 70%;
            margin-left: 5%;
            font-size  : 60%;
            text-align : left;

            .doctor-describe {
                font-size: 110%;
            }

            >div {
                margin-top: 1%;

                b {
                    margin-left: 1%;
                }
            }
        }
    }
}