.doctor-notfound-container {
    // background-color: aqua;
    color     : gray;
    // padding: auto;

    b {
        font-size: 120%
    }

    p {
        margin-bottom: 0px;
    }

    .doctor-notfound-button {
        margin-top: 2%;
    }

}