.App {
  background-color      : whitesmoke;
  // display            : flex;
  // flex-direction  : column;
  // align-items     : center;
  // justify-content : center;
  font-size             : calc(10px + 2vmin);

  .App-main.active {
    opacity: 1;
  }

  .App-header {
    position        : fixed;
    top             : 0;
    height          : 5rem;
    display         : flex;
    background-color: white;
    width           : 100%;
    z-index         : 1001;
  }

  .App-main {
    background         : url("../../assets/images/background-app.jpg");
    background-size    : 100% auto;
    background-repeat  : repeat-y;
    padding-top        : 6rem;
    text-align         : center;
    // background-color: black;
    background-color   : whitesmoke;
    opacity            : 0.1;
    transition         : opacity 100ms ease-in-out;
    padding-bottom     : 2rem;

    // box-shadow                : 0 2px 4px rgba(0, 0, 0, 0.2)
    .left-nav,
    .right-nav,
    .main-element {
      border-radius: 10px;
      margin-inline: 1rem;
      box-shadow   : 0 .5rem 1rem rgba(0, 0, 0, .15);
      margin-top   : 1rem;
    }

    .left-nav {
      background       : linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../../assets/images/navleft.jpg");
      background-size  : 100% auto;
      background-repeat: repeat-y;
      position         : sticky;
      top              : 7rem;
      left             : 0;
    }

    .main-element {
      background-color: rgba(255, 255, 255, 0.97);
    }
  }

  .App-footer {
    display         : flex;
    background-color: white;
    color           : #333;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s;
}