.changepw-container {
    .changepw-title {
        margin-top : -2%;
        font-weight: 500;
    }

    .changepw-content {
        margin-top: 3%;

        form {
            >div {
                margin-top: 3%;
            }
        }
    }
}