.changepw-container {
    .form-floating {
        label {
            font-size : 90%;
            margin-top: -0.2rem;
        }
    }

    .pw-hidden.hide {
        scale: 0;
    }

    .pw-hidden {
        transition: scale 200ms linear;
    }
}