.App-info {
    width    : 50%;
    margin   : auto 10%;
    font-size: 70%;

    .App-logo {
        img {
            margin-bottom: 0px;
            cursor       : pointer;
        }
    }

    >div {
        margin-bottom: 3%;

        b {
            margin-left: 1%;
        }

        a {
            color          : white;
            text-decoration: none;

            &:hover {
                color: rgb(13, 110, 253);
            }
        }
    }

    .App-nodata,
    .App-loading {
        display    : flex;
        align-items: center;
        margin-top : 5%;
    }

    .App-loading {
        >div {
            margin-right: 1%;
        }
    }
}

.App-rules {
    width     : 30%;
    margin-top: 1%;
    font-size : 70%;

    ul {
        margin-top: 10%;

        li {
            margin-top: 2%;
            list-style: none;
        }
    }
}