.forgetpw-container {
    .forgetpw-title {
        margin-top : -2%;
        font-weight: 500;
    }

    .forgetpw-content {
        form {

            .form-label {
                margin-top: 3%
            }
        }
    }
}