.App-home {


    .App-bar {
        cursor: pointer;
        color : #6c757d;

        &:hover {
            color           : white;
            background-color: #6c757d;
        }
    }
}

.App-user {
    width : 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}