.nav-list {
    >div {
        height: 2rem;

        a {
            color: black;
        }

        &:hover {
            background-color: white;
        }

        .active {
            background-color: grey;
            color           : white
        }
    }
}